*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: all 1s; /* hace las transiciones mas lentas */
    user-select: none; /* evita que se pueda seleccionar las palabras */
    background-color: lightsteelblue;
}

table{
    background-color: slategray;
    margin: auto;
}

td{
    border: rgba(0, 0, 0, 0.25) 1px solid;
    text-align: center;
    color: white;
    font-size: 70%;
}

.descubierto{
    background-color: blue;
}

.marcado{
    background-color: green;
}
.bomba{
    background-color: red;
}

.ganador{
    background-color: green !important;
}